# The apikey for the different weather providers, at least one must be specified
# Note: Hamweather requires two apikeys: client_id=apikey, client_secret=apikey2
#apikey.ForecastIo=
apikey.OpenWeatherMap=e615ebb580016c79e3572b3fbac8953b
#apikey.WorldWeatherOnline=
apikey.Wunderground=
#apikey.Hamweather=
#apikey2.Hamweather=
#apikey.Meteoblue=

# location configuration, you can specify multiple locations
#location.<locationId1>.name=
#location.<locationId1>.latitude=   (not required for Yahoo provider)
#location.<locationId1>.longitude=  (not required for Yahoo provider)
location.melbourne.woeid=1103816
location.melbourne.provider=Yahoo
location.melbourne.language=en
location.melbourne.updateInterval=120

